# ぼっとのとーくん！！
token=ここにとーくんを
# いろいろなログ
logch=ここにチャンネルIDを
# 起動通知
uptch=ここにチャンネルIDを
# y.feedの送信先
webhookhayada=1545708921715695626
# /upのアップロード先
upload=ここにチャンネルIDを
# プレフィックス(y.ならpingはy.ping)
prefix=y.
# 運営しているサーバー名
nausaba=ここにテキストを入力
# meschの保管先
wlsave="./wlcheck.txt"
# sayとか使える人
allow=[ここにユーザーIDを,ここにユーザーIDを]